@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 70%;
}

body {
    width: 100%;
    overflow-x: hidden;
    color: black;
    background: linear-gradient( white, #97cf8a);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #315e26;
    border-radius: 2px;
    transition: all 0.1s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #97cf8a;
}

nav {
    background: #97cf8a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.logo {
    font-size: 2.2rem;
    color: #315e26;
    font-weight: 800;
    cursor: pointer;
    transition: 0.1s ease;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

nav a {
    font-size: 1.5rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.1s ease;
    border-bottom: 3px solid transparent;
    display: flex;
}

nav a:hover {
    color: white;
    transform: scale(1.1);
}

nav a.active {
    color: white;
    border-bottom: 3px solid #315e26;
    transform: scale(1.1);
    cursor: default;
}

@media screen and (max-width:960px) {
    /* navbar will adjust based on the screensize and the hamburger will appear */
    nav {
        width: 100%;
    }

    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    nav.active {
        display: block;
    }

    .logo {
        font-size: 2rem;
    }

    nav a {
        display: block;
        font-size: 1.3rem;
        font-weight: 800;
        margin: 2rem ;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        justify-content: center;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.1s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar_menu.active {
        background-color: #97cf8a;
        top: 100%;
        opacity: 1;
        transition: all 0.1s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.5rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .ham-menu-bar {
        height: 4px;
        width: 25px;
        background-color: #315e26;
        margin: 3px auto;
        border-radius: 10px;
        transition: all 0.1s ease-in-out;
    }

    .ham-menu {
        position: absolute;
        top: 8px;
        right: 5%;
        transform: translate(5%, 20%);
        align-items: center;
    }

    .navbar_item {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .ham-menu .ham-menu-bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .ham-menu-bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .ham-menu-bar:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
    }

    #mobile-menu.is-active .ham-menu-bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    section.is-active {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

}


/* Content style */

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.project-list {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between; /* Space between image and text */
    align-items: center; /* Align items in the center vertically */
    flex-wrap: wrap; /* Ensure proper wrapping on smaller screens */
    padding: 10px;
    padding-top: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px #315e26;
    border-radius: 10px;
    transition: all 0.1s ease;
}

.project-list:hover {
    transform: scale(1.03);
}

.project-list p {
    text-align: justify;
}

.proj-list-and-img {
    display: flex;
    flex-direction: row; /* Align the image and the description side by side */
    justify-content: space-between; /* Space between the proj-img-div and proj-list */
    width: 100%; /* Ensure it takes full width */
}

.proj-list {
    width: 60%; /* Occupies 60% of the width */
    padding: 10px;
}
  
.proj-img-div {
    width: 35%; /* Occupies 35% of the width */
    padding: 10px;
    display: flex;
}

#webpage-img {
    max-width: 100%; /* Ensure the image fits the container */
    height: auto; /* Maintain the aspect ratio */
}

.project-content h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 20px;
}

.project-content span {
    color: #315e26;
}

.project-content p {
    font-size: 1.4rem;
    padding-bottom: 20px;
}

.skills-list {
    display: inline-flex;
    /* align-items: center; */
    padding: 20px;
    font-size: 10px;
}

.role-skills {
    border: 1.5px solid black;
    border-radius: 6px;
    margin-right: 10px;
    padding: 2px;
}

.role-skills:hover {
    transform: scale(1.1);
}

.toOpenModal {
    padding-top: 20px;
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .project-list {
        margin: auto;
        flex-direction: column;
        padding: 20px;
    }

    .proj-img-div {
        width: 80%;
        margin: auto;
    }

    .proj-list {
        width: 100%;
    }

    .project-content h1 {
        font-size: 1.5rem;
        transition: 0.1s ease;
    }

    .project-content p {
        font-size: 10px;
        transition: 0.1s ease;
    }

    .skills-list {
        padding: 0;
        align-items: center;
    }

    .skills-list h3 {
        font-size: 10px;
        transition: 0.1s ease;
    }

    .skills-list h2 {
        font-size: 100px;
        transition: 0.1s ease;
    }

}